<div id="character_tools_panel" class="extension_container">
  <div class="inline-drawer">
    <div class="inline-drawer-toggle inline-drawer-header">
      <b><i class="fa-solid fa-wand-magic-sparkles"></i> Character Tools</b>
      <div class="inline-drawer-icon fa-solid fa-circle-chevron-down down"></div>
    </div>
    <div class="inline-drawer-content">
      <small class="opacity50p">v{{version}}</small>
      <div class="flex-container flexFlowColumn">
        <button id="character_tools_open_btn" class="menu_button menu_button_icon">
          <i class="fa-solid fa-rocket"></i>
          <span>Open Character Tools</span>
        </button>
      </div>
    </div>
  </div>
</div>
